{
  "name": "farm_app_setup",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "static/source/scripts/app.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"outputSuffix\":\"\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "static/source",
      "static"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "static/source/scripts/app.js",
      "imports": [
        "static/source/scripts/vendors/jquery-3.3.1.min.js",
        "static/source/scripts/vendors/bootstrap.min.js",
        "static/source/scripts/vendors/mdb.min.js",
        "static/source/scripts/vendors/popper.min.js",
        "static/source/scripts/vendors/jquery.touchSwipe.min.js",
        "static/source/scripts/vendors/bootstrap-datepicker.min.js",
        "static/source/scripts/vendors/fontawesome.min.js",
        "static/source/scripts/vendors/owl.carousel.min.js",
        "static/source/scripts/vendors/isotope.pkgd.min.js",
        "static/source/scripts/vendors/counterup.min.js",
        "static/source/scripts/vendors/jquery.magnific-popup.min.js",
        "static/source/scripts/vendors/waypoints.min.js",
        "static/source/scripts/vendors/croppie.min.js",
        "static/source/scripts/js/app.js"
      ]
    },
    {
      "path": "static/source/styles/app.scss",
      "imports": [
        "static/source/styles/bs_scss/bootstrap.scss",
        "static/source/styles/mdb_scss/mdb.scss",
        "static/source/styles/hint_scss/hint.scss",
        "static/source/styles/oc_scss/owl.carousel.scss",
        "static/source/styles/oc_scss/owl.theme.default.scss",
        "static/source/styles/mfp_scss/main1.scss",
        "static/source/styles/fa_scss/fontawesome.scss",
        "static/source/styles/fa_scss/brands.scss",
        "static/source/styles/fa_scss/regular.scss",
        "static/source/styles/fa_scss/solid.scss",
        "static/source/styles/fa_scss/v4-shims.scss",
        "static/source/styles/wt-style/wt-app.scss",
        "static/source/styles/bs_scss/_functions.scss",
        "static/source/styles/bs_scss/_variables.scss",
        "static/source/styles/bs_scss/_mixins.scss",
        "static/source/styles/bs_scss/_root.scss",
        "static/source/styles/bs_scss/_reboot.scss",
        "static/source/styles/bs_scss/_type.scss",
        "static/source/styles/bs_scss/_images.scss",
        "static/source/styles/bs_scss/_code.scss",
        "static/source/styles/bs_scss/_grid.scss",
        "static/source/styles/bs_scss/_tables.scss",
        "static/source/styles/bs_scss/_forms.scss",
        "static/source/styles/bs_scss/_buttons.scss",
        "static/source/styles/bs_scss/_transitions.scss",
        "static/source/styles/bs_scss/_dropdown.scss",
        "static/source/styles/bs_scss/_button-group.scss",
        "static/source/styles/bs_scss/_input-group.scss",
        "static/source/styles/bs_scss/_custom-forms.scss",
        "static/source/styles/bs_scss/_nav.scss",
        "static/source/styles/bs_scss/_navbar.scss",
        "static/source/styles/bs_scss/_card.scss",
        "static/source/styles/bs_scss/_breadcrumb.scss",
        "static/source/styles/bs_scss/_pagination.scss",
        "static/source/styles/bs_scss/_badge.scss",
        "static/source/styles/bs_scss/_jumbotron.scss",
        "static/source/styles/bs_scss/_alert.scss",
        "static/source/styles/bs_scss/_progress.scss",
        "static/source/styles/bs_scss/_media.scss",
        "static/source/styles/bs_scss/_list-group.scss",
        "static/source/styles/bs_scss/_close.scss",
        "static/source/styles/bs_scss/_toasts.scss",
        "static/source/styles/bs_scss/_modal.scss",
        "static/source/styles/bs_scss/_tooltip.scss",
        "static/source/styles/bs_scss/_popover.scss",
        "static/source/styles/bs_scss/_carousel.scss",
        "static/source/styles/bs_scss/_spinners.scss",
        "static/source/styles/bs_scss/_utilities.scss",
        "static/source/styles/bs_scss/_print.scss",
        "static/source/styles/mdb_scss/core/bootstrap/_functions.scss",
        "static/source/styles/mdb_scss/core/bootstrap/_variables.scss",
        "static/source/styles/mdb_scss/core/_mixins.scss",
        "static/source/styles/mdb_scss/_custom-variables.scss",
        "static/source/styles/mdb_scss/core/_colors.scss",
        "static/source/styles/mdb_scss/core/_variables.scss",
        "static/source/styles/mdb_scss/core/_global.scss",
        "static/source/styles/mdb_scss/core/_helpers.scss",
        "static/source/styles/mdb_scss/core/_typography.scss",
        "static/source/styles/mdb_scss/core/_masks.scss",
        "static/source/styles/mdb_scss/core/_waves.scss",
        "static/source/styles/mdb_scss/free/_animations-basic.scss",
        "static/source/styles/mdb_scss/free/modules/animations-extended/_module.scss",
        "static/source/styles/mdb_scss/free/_buttons.scss",
        "static/source/styles/mdb_scss/free/_cards.scss",
        "static/source/styles/mdb_scss/free/_dropdowns.scss",
        "static/source/styles/mdb_scss/free/_input-group.scss",
        "static/source/styles/mdb_scss/free/_navbars.scss",
        "static/source/styles/mdb_scss/free/_pagination.scss",
        "static/source/styles/mdb_scss/free/_badges.scss",
        "static/source/styles/mdb_scss/free/_modals.scss",
        "static/source/styles/mdb_scss/free/_carousels.scss",
        "static/source/styles/mdb_scss/free/_forms.scss",
        "static/source/styles/mdb_scss/free/_msc.scss",
        "static/source/styles/mdb_scss/free/_footers.scss",
        "static/source/styles/mdb_scss/free/_list-group.scss",
        "static/source/styles/mdb_scss/free/_tables.scss",
        "static/source/styles/mdb_scss/free/_switch.scss",
        "static/source/styles/mdb_scss/free/_depreciated.scss",
        "static/source/styles/mdb_scss/free/_steppers.scss",
        "static/source/styles/mdb_scss/free/_loader.scss",
        "static/source/styles/mdb_scss/addons/_datatables.scss",
        "static/source/styles/mdb_scss/_custom-styles.scss",
        "static/source/styles/hint_scss/hint-variables.scss",
        "static/source/styles/hint_scss/hint-mixins.scss",
        "static/source/styles/hint_scss/hint-core.scss",
        "static/source/styles/hint_scss/hint-position.scss",
        "static/source/styles/hint_scss/hint-sizes.scss",
        "static/source/styles/hint_scss/hint-theme.scss",
        "static/source/styles/hint_scss/hint-color-types.scss",
        "static/source/styles/hint_scss/hint-always.scss",
        "static/source/styles/hint_scss/hint-rounded.scss",
        "static/source/styles/hint_scss/hint-effects.scss",
        "static/source/styles/oc_scss/_core.scss",
        "static/source/styles/oc_scss/_animate.scss",
        "static/source/styles/oc_scss/_autoheight.scss",
        "static/source/styles/oc_scss/_lazyload.scss",
        "static/source/styles/oc_scss/_video.scss",
        "static/source/styles/oc_scss/_theme.default.scss",
        "static/source/styles/mfp_scss/_settings.scss",
        "static/source/styles/fa_scss/_variables.scss",
        "static/source/styles/fa_scss/_mixins.scss",
        "static/source/styles/fa_scss/_core.scss",
        "static/source/styles/fa_scss/_larger.scss",
        "static/source/styles/fa_scss/_fixed-width.scss",
        "static/source/styles/fa_scss/_list.scss",
        "static/source/styles/fa_scss/_bordered-pulled.scss",
        "static/source/styles/fa_scss/_animated.scss",
        "static/source/styles/fa_scss/_rotated-flipped.scss",
        "static/source/styles/fa_scss/_stacked.scss",
        "static/source/styles/fa_scss/_icons.scss",
        "static/source/styles/fa_scss/_screen-reader.scss",
        "static/source/styles/fa_scss/_shims.scss",
        "static/source/styles/wt-style/_color.scss",
        "static/source/styles/wt-style/_font.scss",
        "static/source/styles/wt-style/_helper.scss",
        "static/source/styles/wt-style/_main.scss",
        "static/source/styles/wt-style/_mediaquery.scss",
        "static/source/styles/bs_scss/vendor/_rfs.scss",
        "static/source/styles/bs_scss/mixins/_deprecate.scss",
        "static/source/styles/bs_scss/mixins/_breakpoints.scss",
        "static/source/styles/bs_scss/mixins/_hover.scss",
        "static/source/styles/bs_scss/mixins/_image.scss",
        "static/source/styles/bs_scss/mixins/_badge.scss",
        "static/source/styles/bs_scss/mixins/_resize.scss",
        "static/source/styles/bs_scss/mixins/_screen-reader.scss",
        "static/source/styles/bs_scss/mixins/_size.scss",
        "static/source/styles/bs_scss/mixins/_reset-text.scss",
        "static/source/styles/bs_scss/mixins/_text-emphasis.scss",
        "static/source/styles/bs_scss/mixins/_text-hide.scss",
        "static/source/styles/bs_scss/mixins/_text-truncate.scss",
        "static/source/styles/bs_scss/mixins/_visibility.scss",
        "static/source/styles/bs_scss/mixins/_alert.scss",
        "static/source/styles/bs_scss/mixins/_buttons.scss",
        "static/source/styles/bs_scss/mixins/_caret.scss",
        "static/source/styles/bs_scss/mixins/_pagination.scss",
        "static/source/styles/bs_scss/mixins/_lists.scss",
        "static/source/styles/bs_scss/mixins/_list-group.scss",
        "static/source/styles/bs_scss/mixins/_nav-divider.scss",
        "static/source/styles/bs_scss/mixins/_forms.scss",
        "static/source/styles/bs_scss/mixins/_table-row.scss",
        "static/source/styles/bs_scss/mixins/_background-variant.scss",
        "static/source/styles/bs_scss/mixins/_border-radius.scss",
        "static/source/styles/bs_scss/mixins/_box-shadow.scss",
        "static/source/styles/bs_scss/mixins/_gradients.scss",
        "static/source/styles/bs_scss/mixins/_transition.scss",
        "static/source/styles/bs_scss/mixins/_clearfix.scss",
        "static/source/styles/bs_scss/mixins/_grid-framework.scss",
        "static/source/styles/bs_scss/mixins/_grid.scss",
        "static/source/styles/bs_scss/mixins/_float.scss",
        "static/source/styles/bs_scss/utilities/_align.scss",
        "static/source/styles/bs_scss/utilities/_background.scss",
        "static/source/styles/bs_scss/utilities/_borders.scss",
        "static/source/styles/bs_scss/utilities/_clearfix.scss",
        "static/source/styles/bs_scss/utilities/_display.scss",
        "static/source/styles/bs_scss/utilities/_embed.scss",
        "static/source/styles/bs_scss/utilities/_flex.scss",
        "static/source/styles/bs_scss/utilities/_float.scss",
        "static/source/styles/bs_scss/utilities/_overflow.scss",
        "static/source/styles/bs_scss/utilities/_position.scss",
        "static/source/styles/bs_scss/utilities/_screenreaders.scss",
        "static/source/styles/bs_scss/utilities/_shadows.scss",
        "static/source/styles/bs_scss/utilities/_sizing.scss",
        "static/source/styles/bs_scss/utilities/_stretched-link.scss",
        "static/source/styles/bs_scss/utilities/_spacing.scss",
        "static/source/styles/bs_scss/utilities/_text.scss",
        "static/source/styles/bs_scss/utilities/_visibility.scss",
        "static/source/styles/oc_scss/_theme.scss"
      ]
    },
    {
      "path": "static/source/styles/bs_scss/bootstrap-grid.scss",
      "imports": [
        "static/source/styles/bs_scss/_functions.scss",
        "static/source/styles/bs_scss/_variables.scss",
        "static/source/styles/bs_scss/mixins/_breakpoints.scss",
        "static/source/styles/bs_scss/mixins/_grid-framework.scss",
        "static/source/styles/bs_scss/mixins/_grid.scss",
        "static/source/styles/bs_scss/_grid.scss",
        "static/source/styles/bs_scss/utilities/_display.scss",
        "static/source/styles/bs_scss/utilities/_flex.scss",
        "static/source/styles/bs_scss/utilities/_spacing.scss"
      ]
    },
    {
      "path": "static/source/styles/bs_scss/bootstrap-reboot.scss",
      "imports": [
        "static/source/styles/bs_scss/_functions.scss",
        "static/source/styles/bs_scss/_variables.scss",
        "static/source/styles/bs_scss/_mixins.scss",
        "static/source/styles/bs_scss/_reboot.scss",
        "static/source/styles/bs_scss/vendor/_rfs.scss",
        "static/source/styles/bs_scss/mixins/_deprecate.scss",
        "static/source/styles/bs_scss/mixins/_breakpoints.scss",
        "static/source/styles/bs_scss/mixins/_hover.scss",
        "static/source/styles/bs_scss/mixins/_image.scss",
        "static/source/styles/bs_scss/mixins/_badge.scss",
        "static/source/styles/bs_scss/mixins/_resize.scss",
        "static/source/styles/bs_scss/mixins/_screen-reader.scss",
        "static/source/styles/bs_scss/mixins/_size.scss",
        "static/source/styles/bs_scss/mixins/_reset-text.scss",
        "static/source/styles/bs_scss/mixins/_text-emphasis.scss",
        "static/source/styles/bs_scss/mixins/_text-hide.scss",
        "static/source/styles/bs_scss/mixins/_text-truncate.scss",
        "static/source/styles/bs_scss/mixins/_visibility.scss",
        "static/source/styles/bs_scss/mixins/_alert.scss",
        "static/source/styles/bs_scss/mixins/_buttons.scss",
        "static/source/styles/bs_scss/mixins/_caret.scss",
        "static/source/styles/bs_scss/mixins/_pagination.scss",
        "static/source/styles/bs_scss/mixins/_lists.scss",
        "static/source/styles/bs_scss/mixins/_list-group.scss",
        "static/source/styles/bs_scss/mixins/_nav-divider.scss",
        "static/source/styles/bs_scss/mixins/_forms.scss",
        "static/source/styles/bs_scss/mixins/_table-row.scss",
        "static/source/styles/bs_scss/mixins/_background-variant.scss",
        "static/source/styles/bs_scss/mixins/_border-radius.scss",
        "static/source/styles/bs_scss/mixins/_box-shadow.scss",
        "static/source/styles/bs_scss/mixins/_gradients.scss",
        "static/source/styles/bs_scss/mixins/_transition.scss",
        "static/source/styles/bs_scss/mixins/_clearfix.scss",
        "static/source/styles/bs_scss/mixins/_grid-framework.scss",
        "static/source/styles/bs_scss/mixins/_grid.scss",
        "static/source/styles/bs_scss/mixins/_float.scss"
      ]
    },
    {
      "path": "static/source/styles/bs_scss/bootstrap.scss",
      "imports": [
        "static/source/styles/bs_scss/_functions.scss",
        "static/source/styles/bs_scss/_variables.scss",
        "static/source/styles/bs_scss/_mixins.scss",
        "static/source/styles/bs_scss/_root.scss",
        "static/source/styles/bs_scss/_reboot.scss",
        "static/source/styles/bs_scss/_type.scss",
        "static/source/styles/bs_scss/_images.scss",
        "static/source/styles/bs_scss/_code.scss",
        "static/source/styles/bs_scss/_grid.scss",
        "static/source/styles/bs_scss/_tables.scss",
        "static/source/styles/bs_scss/_forms.scss",
        "static/source/styles/bs_scss/_buttons.scss",
        "static/source/styles/bs_scss/_transitions.scss",
        "static/source/styles/bs_scss/_dropdown.scss",
        "static/source/styles/bs_scss/_button-group.scss",
        "static/source/styles/bs_scss/_input-group.scss",
        "static/source/styles/bs_scss/_custom-forms.scss",
        "static/source/styles/bs_scss/_nav.scss",
        "static/source/styles/bs_scss/_navbar.scss",
        "static/source/styles/bs_scss/_card.scss",
        "static/source/styles/bs_scss/_breadcrumb.scss",
        "static/source/styles/bs_scss/_pagination.scss",
        "static/source/styles/bs_scss/_badge.scss",
        "static/source/styles/bs_scss/_jumbotron.scss",
        "static/source/styles/bs_scss/_alert.scss",
        "static/source/styles/bs_scss/_progress.scss",
        "static/source/styles/bs_scss/_media.scss",
        "static/source/styles/bs_scss/_list-group.scss",
        "static/source/styles/bs_scss/_close.scss",
        "static/source/styles/bs_scss/_toasts.scss",
        "static/source/styles/bs_scss/_modal.scss",
        "static/source/styles/bs_scss/_tooltip.scss",
        "static/source/styles/bs_scss/_popover.scss",
        "static/source/styles/bs_scss/_carousel.scss",
        "static/source/styles/bs_scss/_spinners.scss",
        "static/source/styles/bs_scss/_utilities.scss",
        "static/source/styles/bs_scss/_print.scss",
        "static/source/styles/bs_scss/vendor/_rfs.scss",
        "static/source/styles/bs_scss/mixins/_deprecate.scss",
        "static/source/styles/bs_scss/mixins/_breakpoints.scss",
        "static/source/styles/bs_scss/mixins/_hover.scss",
        "static/source/styles/bs_scss/mixins/_image.scss",
        "static/source/styles/bs_scss/mixins/_badge.scss",
        "static/source/styles/bs_scss/mixins/_resize.scss",
        "static/source/styles/bs_scss/mixins/_screen-reader.scss",
        "static/source/styles/bs_scss/mixins/_size.scss",
        "static/source/styles/bs_scss/mixins/_reset-text.scss",
        "static/source/styles/bs_scss/mixins/_text-emphasis.scss",
        "static/source/styles/bs_scss/mixins/_text-hide.scss",
        "static/source/styles/bs_scss/mixins/_text-truncate.scss",
        "static/source/styles/bs_scss/mixins/_visibility.scss",
        "static/source/styles/bs_scss/mixins/_alert.scss",
        "static/source/styles/bs_scss/mixins/_buttons.scss",
        "static/source/styles/bs_scss/mixins/_caret.scss",
        "static/source/styles/bs_scss/mixins/_pagination.scss",
        "static/source/styles/bs_scss/mixins/_lists.scss",
        "static/source/styles/bs_scss/mixins/_list-group.scss",
        "static/source/styles/bs_scss/mixins/_nav-divider.scss",
        "static/source/styles/bs_scss/mixins/_forms.scss",
        "static/source/styles/bs_scss/mixins/_table-row.scss",
        "static/source/styles/bs_scss/mixins/_background-variant.scss",
        "static/source/styles/bs_scss/mixins/_border-radius.scss",
        "static/source/styles/bs_scss/mixins/_box-shadow.scss",
        "static/source/styles/bs_scss/mixins/_gradients.scss",
        "static/source/styles/bs_scss/mixins/_transition.scss",
        "static/source/styles/bs_scss/mixins/_clearfix.scss",
        "static/source/styles/bs_scss/mixins/_grid-framework.scss",
        "static/source/styles/bs_scss/mixins/_grid.scss",
        "static/source/styles/bs_scss/mixins/_float.scss",
        "static/source/styles/bs_scss/utilities/_align.scss",
        "static/source/styles/bs_scss/utilities/_background.scss",
        "static/source/styles/bs_scss/utilities/_borders.scss",
        "static/source/styles/bs_scss/utilities/_clearfix.scss",
        "static/source/styles/bs_scss/utilities/_display.scss",
        "static/source/styles/bs_scss/utilities/_embed.scss",
        "static/source/styles/bs_scss/utilities/_flex.scss",
        "static/source/styles/bs_scss/utilities/_float.scss",
        "static/source/styles/bs_scss/utilities/_overflow.scss",
        "static/source/styles/bs_scss/utilities/_position.scss",
        "static/source/styles/bs_scss/utilities/_screenreaders.scss",
        "static/source/styles/bs_scss/utilities/_shadows.scss",
        "static/source/styles/bs_scss/utilities/_sizing.scss",
        "static/source/styles/bs_scss/utilities/_stretched-link.scss",
        "static/source/styles/bs_scss/utilities/_spacing.scss",
        "static/source/styles/bs_scss/utilities/_text.scss",
        "static/source/styles/bs_scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "static/source/styles/bs_scss/_mixins.scss",
      "imports": [
        "static/source/styles/bs_scss/vendor/_rfs.scss",
        "static/source/styles/bs_scss/mixins/_deprecate.scss",
        "static/source/styles/bs_scss/mixins/_breakpoints.scss",
        "static/source/styles/bs_scss/mixins/_hover.scss",
        "static/source/styles/bs_scss/mixins/_image.scss",
        "static/source/styles/bs_scss/mixins/_badge.scss",
        "static/source/styles/bs_scss/mixins/_resize.scss",
        "static/source/styles/bs_scss/mixins/_screen-reader.scss",
        "static/source/styles/bs_scss/mixins/_size.scss",
        "static/source/styles/bs_scss/mixins/_reset-text.scss",
        "static/source/styles/bs_scss/mixins/_text-emphasis.scss",
        "static/source/styles/bs_scss/mixins/_text-hide.scss",
        "static/source/styles/bs_scss/mixins/_text-truncate.scss",
        "static/source/styles/bs_scss/mixins/_visibility.scss",
        "static/source/styles/bs_scss/mixins/_alert.scss",
        "static/source/styles/bs_scss/mixins/_buttons.scss",
        "static/source/styles/bs_scss/mixins/_caret.scss",
        "static/source/styles/bs_scss/mixins/_pagination.scss",
        "static/source/styles/bs_scss/mixins/_lists.scss",
        "static/source/styles/bs_scss/mixins/_list-group.scss",
        "static/source/styles/bs_scss/mixins/_nav-divider.scss",
        "static/source/styles/bs_scss/mixins/_forms.scss",
        "static/source/styles/bs_scss/mixins/_table-row.scss",
        "static/source/styles/bs_scss/mixins/_background-variant.scss",
        "static/source/styles/bs_scss/mixins/_border-radius.scss",
        "static/source/styles/bs_scss/mixins/_box-shadow.scss",
        "static/source/styles/bs_scss/mixins/_gradients.scss",
        "static/source/styles/bs_scss/mixins/_transition.scss",
        "static/source/styles/bs_scss/mixins/_clearfix.scss",
        "static/source/styles/bs_scss/mixins/_grid-framework.scss",
        "static/source/styles/bs_scss/mixins/_grid.scss",
        "static/source/styles/bs_scss/mixins/_float.scss"
      ]
    },
    {
      "path": "static/source/styles/bs_scss/_utilities.scss",
      "imports": [
        "static/source/styles/bs_scss/utilities/_align.scss",
        "static/source/styles/bs_scss/utilities/_background.scss",
        "static/source/styles/bs_scss/utilities/_borders.scss",
        "static/source/styles/bs_scss/utilities/_clearfix.scss",
        "static/source/styles/bs_scss/utilities/_display.scss",
        "static/source/styles/bs_scss/utilities/_embed.scss",
        "static/source/styles/bs_scss/utilities/_flex.scss",
        "static/source/styles/bs_scss/utilities/_float.scss",
        "static/source/styles/bs_scss/utilities/_overflow.scss",
        "static/source/styles/bs_scss/utilities/_position.scss",
        "static/source/styles/bs_scss/utilities/_screenreaders.scss",
        "static/source/styles/bs_scss/utilities/_shadows.scss",
        "static/source/styles/bs_scss/utilities/_sizing.scss",
        "static/source/styles/bs_scss/utilities/_stretched-link.scss",
        "static/source/styles/bs_scss/utilities/_spacing.scss",
        "static/source/styles/bs_scss/utilities/_text.scss",
        "static/source/styles/bs_scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "static/source/styles/fa_scss/brands.scss",
      "imports": [
        "static/source/styles/fa_scss/_variables.scss"
      ]
    },
    {
      "path": "static/source/styles/fa_scss/fontawesome.scss",
      "imports": [
        "static/source/styles/fa_scss/_variables.scss",
        "static/source/styles/fa_scss/_mixins.scss",
        "static/source/styles/fa_scss/_core.scss",
        "static/source/styles/fa_scss/_larger.scss",
        "static/source/styles/fa_scss/_fixed-width.scss",
        "static/source/styles/fa_scss/_list.scss",
        "static/source/styles/fa_scss/_bordered-pulled.scss",
        "static/source/styles/fa_scss/_animated.scss",
        "static/source/styles/fa_scss/_rotated-flipped.scss",
        "static/source/styles/fa_scss/_stacked.scss",
        "static/source/styles/fa_scss/_icons.scss",
        "static/source/styles/fa_scss/_screen-reader.scss"
      ]
    },
    {
      "path": "static/source/styles/fa_scss/regular.scss",
      "imports": [
        "static/source/styles/fa_scss/_variables.scss"
      ]
    },
    {
      "path": "static/source/styles/fa_scss/solid.scss",
      "imports": [
        "static/source/styles/fa_scss/_variables.scss"
      ]
    },
    {
      "path": "static/source/styles/fa_scss/v4-shims.scss",
      "imports": [
        "static/source/styles/fa_scss/_variables.scss",
        "static/source/styles/fa_scss/_shims.scss"
      ]
    },
    {
      "path": "static/source/styles/hint_scss/hint.base.scss",
      "imports": [
        "static/source/styles/hint_scss/hint-variables.scss",
        "static/source/styles/hint_scss/hint-mixins.scss",
        "static/source/styles/hint_scss/hint-core.scss",
        "static/source/styles/hint_scss/hint-position.scss",
        "static/source/styles/hint_scss/hint-sizes.scss",
        "static/source/styles/hint_scss/hint-always.scss"
      ]
    },
    {
      "path": "static/source/styles/hint_scss/hint.scss",
      "imports": [
        "static/source/styles/hint_scss/hint-variables.scss",
        "static/source/styles/hint_scss/hint-mixins.scss",
        "static/source/styles/hint_scss/hint-core.scss",
        "static/source/styles/hint_scss/hint-position.scss",
        "static/source/styles/hint_scss/hint-sizes.scss",
        "static/source/styles/hint_scss/hint-theme.scss",
        "static/source/styles/hint_scss/hint-color-types.scss",
        "static/source/styles/hint_scss/hint-always.scss",
        "static/source/styles/hint_scss/hint-rounded.scss",
        "static/source/styles/hint_scss/hint-effects.scss"
      ]
    },
    {
      "path": "static/source/styles/mdb_scss/mdb.lite.scss",
      "imports": [
        "static/source/styles/mdb_scss/core/bootstrap/_functions.scss",
        "static/source/styles/mdb_scss/core/bootstrap/_variables.scss",
        "static/source/styles/mdb_scss/core/_mixins.scss",
        "static/source/styles/mdb_scss/_custom-variables.scss",
        "static/source/styles/mdb_scss/core/_colors.scss",
        "static/source/styles/mdb_scss/core/_variables.scss",
        "static/source/styles/mdb_scss/core/_global.scss",
        "static/source/styles/mdb_scss/core/_helpers.scss",
        "static/source/styles/mdb_scss/core/_typography.scss",
        "static/source/styles/mdb_scss/core/_masks.scss",
        "static/source/styles/mdb_scss/core/_waves.scss",
        "static/source/styles/mdb_scss/free/_animations-basic.scss",
        "static/source/styles/mdb_scss/free/_buttons.scss",
        "static/source/styles/mdb_scss/free/_cards.scss",
        "static/source/styles/mdb_scss/free/_dropdowns.scss",
        "static/source/styles/mdb_scss/free/_input-group.scss",
        "static/source/styles/mdb_scss/free/_navbars.scss",
        "static/source/styles/mdb_scss/free/_pagination.scss",
        "static/source/styles/mdb_scss/free/_badges.scss",
        "static/source/styles/mdb_scss/free/_modals.scss",
        "static/source/styles/mdb_scss/free/_carousels.scss",
        "static/source/styles/mdb_scss/free/_forms.scss",
        "static/source/styles/mdb_scss/free/_msc.scss",
        "static/source/styles/mdb_scss/free/_footers.scss",
        "static/source/styles/mdb_scss/free/_list-group.scss",
        "static/source/styles/mdb_scss/free/_tables.scss",
        "static/source/styles/mdb_scss/free/_switch.scss",
        "static/source/styles/mdb_scss/free/_depreciated.scss",
        "static/source/styles/mdb_scss/free/_steppers.scss",
        "static/source/styles/mdb_scss/free/_loader.scss",
        "static/source/styles/mdb_scss/_custom-styles.scss"
      ]
    },
    {
      "path": "static/source/styles/mdb_scss/mdb.scss",
      "imports": [
        "static/source/styles/mdb_scss/core/bootstrap/_functions.scss",
        "static/source/styles/mdb_scss/core/bootstrap/_variables.scss",
        "static/source/styles/mdb_scss/core/_mixins.scss",
        "static/source/styles/mdb_scss/_custom-variables.scss",
        "static/source/styles/mdb_scss/core/_colors.scss",
        "static/source/styles/mdb_scss/core/_variables.scss",
        "static/source/styles/mdb_scss/core/_global.scss",
        "static/source/styles/mdb_scss/core/_helpers.scss",
        "static/source/styles/mdb_scss/core/_typography.scss",
        "static/source/styles/mdb_scss/core/_masks.scss",
        "static/source/styles/mdb_scss/core/_waves.scss",
        "static/source/styles/mdb_scss/free/_animations-basic.scss",
        "static/source/styles/mdb_scss/free/modules/animations-extended/_module.scss",
        "static/source/styles/mdb_scss/free/_buttons.scss",
        "static/source/styles/mdb_scss/free/_cards.scss",
        "static/source/styles/mdb_scss/free/_dropdowns.scss",
        "static/source/styles/mdb_scss/free/_input-group.scss",
        "static/source/styles/mdb_scss/free/_navbars.scss",
        "static/source/styles/mdb_scss/free/_pagination.scss",
        "static/source/styles/mdb_scss/free/_badges.scss",
        "static/source/styles/mdb_scss/free/_modals.scss",
        "static/source/styles/mdb_scss/free/_carousels.scss",
        "static/source/styles/mdb_scss/free/_forms.scss",
        "static/source/styles/mdb_scss/free/_msc.scss",
        "static/source/styles/mdb_scss/free/_footers.scss",
        "static/source/styles/mdb_scss/free/_list-group.scss",
        "static/source/styles/mdb_scss/free/_tables.scss",
        "static/source/styles/mdb_scss/free/_switch.scss",
        "static/source/styles/mdb_scss/free/_depreciated.scss",
        "static/source/styles/mdb_scss/free/_steppers.scss",
        "static/source/styles/mdb_scss/free/_loader.scss",
        "static/source/styles/mdb_scss/addons/_datatables.scss",
        "static/source/styles/mdb_scss/_custom-styles.scss"
      ]
    },
    {
      "path": "static/source/styles/mfp_scss/main1.scss",
      "imports": [
        "static/source/styles/mfp_scss/_settings.scss"
      ]
    },
    {
      "path": "static/source/styles/oc_scss/owl.carousel.scss",
      "imports": [
        "static/source/styles/oc_scss/_core.scss",
        "static/source/styles/oc_scss/_animate.scss",
        "static/source/styles/oc_scss/_autoheight.scss",
        "static/source/styles/oc_scss/_lazyload.scss",
        "static/source/styles/oc_scss/_video.scss"
      ]
    },
    {
      "path": "static/source/styles/oc_scss/owl.theme.default.scss",
      "imports": [
        "static/source/styles/oc_scss/_theme.default.scss",
        "static/source/styles/oc_scss/_theme.scss"
      ]
    },
    {
      "path": "static/source/styles/oc_scss/owl.theme.green.scss",
      "imports": [
        "static/source/styles/oc_scss/_theme.green.scss",
        "static/source/styles/oc_scss/_theme.scss"
      ]
    },
    {
      "path": "static/source/styles/oc_scss/_theme.default.scss",
      "imports": [
        "static/source/styles/oc_scss/_theme.scss"
      ]
    },
    {
      "path": "static/source/styles/oc_scss/_theme.green.scss",
      "imports": [
        "static/source/styles/oc_scss/_theme.scss"
      ]
    },
    {
      "path": "static/source/styles/wt-style/wt-app.scss",
      "imports": [
        "static/source/styles/wt-style/_color.scss",
        "static/source/styles/wt-style/_font.scss",
        "static/source/styles/wt-style/_helper.scss",
        "static/source/styles/wt-style/_main.scss",
        "static/source/styles/wt-style/_mediaquery.scss"
      ]
    },
    {
      "path": "static/source/styles/mdb_scss/free/modules/animations-extended/animations-extended.scss",
      "imports": [
        "static/source/styles/mdb_scss/free/modules/animations-extended/_module.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7882,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"relative\":\"../../css\"},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"relative\":\"../../js\"},\"outputSuffix\":\"\"}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}