@font-face {
    font-family: 'Walsheim';
    src: local(GT-Walsheim-Regular);
    src: url('../font/GT-Walsheim-Regular.ttf') format('truetype');
}

body {
    // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: Walsheim;
    background: rgb(248, 248, 248);
}