/* ==========================================================
Remove Chrome Input Field's Unwanted Yellow Background Color
============================================================= */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 62.5rem #E0F7FA inset !important;
}

/* ===================
Border Radius
======================= */
.rounded-5{
    border-radius: 0.3125rem;
}
.rounded-top-5 {
    border-radius: 0.3125rem 0.3125rem 0 0;
}
.rounded-bottom-5 {
    border-radius: 0 0 0.3125rem 0.3125rem;
}
.rounded-10{
    border-radius: 0.625rem;
}
.rounded-top-10 {
    border-radius: 0.625rem 0.625rem 0 0;
}
.rounded-top-20 {
    border-radius: 1.25rem 1.25rem 0 0;
}
.rounded-top-30 {
    border-radius: 1.875rem 1.875rem 0 0;
}
.rounded-bottom-10 {
    border-radius: 0 0 0.625rem 0.625rem;
}
.rounded-15{
    border-radius: 0.9375rem;
}
.rounded-20{
    border-radius: 1.25rem;
}
.rounded-30{
    border-radius: 1.875rem;
}

/* ===================
Border Colors
======================= */
.border-teal {
    border: 1px solid rgb(1, 185, 185);
}


/* ===================
Font Sizes
======================= */
.font-smallest{
    font-size: 0.625rem !important;
}
.font-10-5{
    font-size: 0.6563rem !important;
}
.font-11{
    font-size: 0.6875rem !important;
}
.font-11-5{
    font-size: 0.7188rem !important;
}
.font-12{
    font-size: 0.75rem !important;
}
.font-12-5{
    font-size: 0.7813rem !important;
}
.font-smaller-mid{
    font-size: 0.8125rem !important;
}
.font-smaller{
    font-size: 0.875rem !important;
}
.font-medium{
    font-size: 0.9375rem !important;
}

.font-weight-400 {
    font-weight: 400 ;
}
.font-weight-500 {
    font-weight: 500 ;
}
.font-weight-600 {
    font-weight: 600 ;
}
.font-weight-700 {
    font-weight: 700 ;
}
.font-weight-800 {
    font-weight: 800 ;
}
/* ===================
Cursor
======================= */
.pointer{
    cursor:pointer;
}
.select-none{
    user-select: none;
}

/* ===================
Indexing
======================= */
.index--1{
    z-index: -1;
}
.index-1{
    z-index: 1;
}
.index--9{
    z-index: -9;
}
.index-9{
    z-index: 9;
}
.index--99{
    z-index: -99;
}
.index-99{
    z-index: 99;
}
.index-999{
    z-index: 999;
}

/* ===================
Rotation
======================= */
.rotate-x{
    transform: rotate(90deg);
}

/* ===================
PADDING
======================= */
.p-25{
    padding: 0.7813rem 0.7813rem;
}
.pt-25{
    padding-top: 0.7813rem;
}
.pb-25{
    padding-bottom: 0.7813rem;
}
.pl-25{
    padding-left: 0.7813rem;
}
.pr-25{
    padding-right: 0.7813rem;
}
.py-25{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.px-25{
    padding-left: 0.7813rem;
    padding-right: 0.7813rem;
}

/* ===================
Scroll-bar properties
======================= */
::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.375rem;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.5);
    background-color: rgba(7, 209, 209, 0.561);
}

/* =================
    Form Placeholder
==================== */
form {
    ::placeholder {
        font-size: 0.7813rem;
        color: rgb(114, 125, 165);
    }
    .form-control{
        &:focus{
            box-shadow: 0 0 0 0.0625rem rgba(0, 123, 255, 0.25) !important; 
        }
    }
    .custom-select{
        &:focus{
            box-shadow: 0 0 0 0.0625rem rgba(0, 123, 255, 0.25) !important; 
        }
    }
    .md-form {
        label{
            font-size: 0.8125rem !important;
            .active {
                font-size: 0.7188rem !important; 
            }
        }
        .form-control {
            font-size: 0.8125rem !important;
            padding: 0.1875rem 0 0.4688rem 0.125rem;
            &:focus{
                border: 0px;
                outline: 0;
                box-shadow: 0 0 0px #fff !important;
            }
        }
        .active{
            color: teal !important;
        }
    }
}

/* =================
   GRADIENT
==================== */

.rgba-gradient-1 {
    background: linear-gradient(120deg, rgba(8, 12, 29, 0.7) 60%, rgba(77, 32, 45, 0.7) 100%);
}

